body {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container-moyen {
  max-width: 1400px;

  padding-right: 15px;

  padding-left: 15px;

  margin-right: auto;

  margin-left: auto;
}


h1 {
  font-size: 65px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  &.banniere_h1 {
    font-size: 120px;
    color: #fff;
    line-height: 1;
    padding-bottom: 10px;

    span {
      font-size: 80px;
    }
  }
}

h2 {
  font-size: 65px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}

h3 {
  color: $primary;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 25px;
}

section {
  &#banniere {
    padding-top: 150px;
    width: 100%;
    min-height: 900px;
    background-image: url("../img/banniere.png");

    .info {
      background-color: rgba(255, 255, 255, .8);
      max-width: 75%;
      display: flex;
      flex-wrap: wrap;
      font-size: 30px;
      padding: 20px 40px;
      border-radius: 40px;

      .bolt {
        font-size: 34px;
        width: 100%;
      }

      .adresse {
        p {
          margin-left: 15px;
        }
      }
    }
  }

  &#book {
    padding: 141px 0;

    .content {
      padding: 20px 0 20px 80px;

      p {
        margin-top: 50px;
      }
    }
  }

  &#press {
    padding: 40px 0;
    background-color: $grey;

    .testimonial {
      padding: 50px 0;

      img {
        display: initial;
        margin-bottom: 5px;
        border-radius: 85px;
      }

      a {
        color: #000;
        text-decoration: none;

        span {
          font-size: 25px;
          position: relative;
          padding: 0;
          text-decoration: none;

          &::after {
            content: '';
            position: absolute;
            width: 50%;
            transform: scaleX(0);
            height: 4px;
            bottom: 0;
            left: 0;
            background-color: $primary;
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
          }

          &:hover {
            text-decoration: none;

            &::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }

  &#bio {
    padding: 141px 0;

    h2 {
      margin-bottom: 35px;
    }

    .content {
      padding: 20px 0 20px 80px;

      p {
        margin-top: 15px;
      }
    }
  }

  &#actu {
    padding-bottom: 60px;

    .card {
      border: none;
      padding: 10px;
      text-decoration: none;
      color: #000;
      transition: all 0.2s;
      min-height: 650px;


      .card-img-top {
        border-radius: 0;
      }

      .card-body {
        border: 2px solid $grey;
        border-top: none;
        padding: 40px 25px;
        min-height: 270px;

        h3 {
          font-size: 30px;
          color: #000000;
        }

        p {
          font-size: 23px;
        }
      }

      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

